server:
  port: 8081
  servlet:
    context-path: /exposicao-livros
  error:
    include-message: always
    include-exception: false
    include-stacktrace: on_param
    include-binding-errors: always

spring:
  output:
    ansi:
      enabled: ALWAYS
  ##
  # Spring Security OAuth2 Client
  ##
  security:
    oauth2:
      client:
        provider:
          livraria:
            token-uri: http://localhost:18080/auth/realms/livraria/protocol/openid-connect/token
        registration:
          livraria:
            authorization-grant-type: client_credentials
            client-id: exposicao-livros-client
            client-secret: IUGoaJlRlczbg4d40sTDf3Lwj6SSKW3L
            scope: livros:read,autores:read

##
# Open Feign
##
feign:
  client:
    config:
      livrariaClient:
        decode404: true
        loggerLevel: full

logging.level.br.com.zup.edu.exposicao.client.LivrariaClient: DEBUG